body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
}

section.conteudo {
	background-color: #e9e658;
	padding: 20px;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 12px;
}
